html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-image: url("/img/plain-grass-and-sky.svg");
    background-position-x: center;
	background-position-y: center;
	background-size: cover;
    background-repeat: no-repeat;
}
#canvas-container {
   width: 100%;
   text-align: center;
}

canvas {
   display: inline;
   margin: 30px auto 0 auto;
}

.not-display {
   display: none;
}

input {
    background-color: grey;
}

